body {
    background-color: hsl(210, 60%, 98%);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:16px;
    display:grid;
    height:95vh;
 
}

.notifications {
    background-color:white;
    width: 700px;
    justify-self:center;
    align-self:center;
    line-height:1.5;
    border-radius: 10px;
    padding: 35px 5px 5px 5px;
    
}

.top-menu {
    display:flex;
    margin: 1% 3% 5% 2%
}

h1 {
    display: inline-block;
    margin: 0 0 30px 3%;
    font-size: 24px;
    font-weight: 800;
    line-height:0;

    
}

.notification-count {
    background-color:hsl(219, 85%, 26%);
    padding: 2px 9px;
    border-radius: 5px;
    color:white;
    margin-left: 10px;
    font-weight: 800;
}

.mark-as-read {
    display:inline;
    margin: 0 3% auto 0;
    float:right;
    border:none;
    background-color: white;
    color: hsl(219, 12%, 42%);
    font-size:16px;
    
}

.unread {
    background-color: hsl(210, 60%, 98%)
}

.notification {
    max-width: 92%;
    margin: 12px auto;
    border-radius:10px;
    display:grid;
    grid-template-columns: 10% auto;
    padding:10px
}

.avatar {
    max-width:45px;
    margin:5px
}

.notification-title {
    margin-bottom:2px;

}

.notification-content {
    display:inline;
    color: hsl(219, 12%, 42%);
    align-self:center
}

.name {
    color:hsl(224, 21%, 14%);
    font-weight: 700;
    margin-right:5px;

}

.time {
    /* display:inline; */
    color: hsl(219, 14%, 63%)
}

.message {
    border: 1px solid hsl(205, 33%, 90%);
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0
}

.post-name {
    font-weight: 800
}

.group-name {
    font-weight: 800;
    color: hsl(219, 85%, 26%)
}

.picture {
    display:inline;
    float:right;
    max-width:40px;
    margin:5px;
}

.notification-picture {
    grid-template-columns: 10% auto 10%;
}

.post-name, .group-name {
    margin-left: 4px;
}

.name:hover, .post-name:hover, .group-name:hover {
    font-weight: 800;
    color: hsl(219, 85%, 26%)
}

.mark-as-read:hover {
    color: hsl(219, 85%, 26%)
}

.red-dot {
    color:red;
    padding: 5px;
}

@media only screen and (max-width: 750px) {
    body {
        font-size: 14px;
    }
    
    h1 {
        margin-top: 10px;
        font-size:22px;
    }

    .notifications {
        width:auto;
        padding-top:20px;
    }

    .notification {
        grid-template-columns: 5vw auto;
        grid-gap: 10px
    }

    .notification-picture {
        grid-template-columns: 5vw auto auto;
        grid-gap: 10px;
    }

    .avatar {
        max-width: 100%;
    }

    .message {
        padding:15px;
    }
}

